<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SBB</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
    <!-- 질문 제목 -->
    <h1 th:text="${question.subject}"></h1>
    <!-- 질문 내용 -->
    <div th:text="${question.content}"></div>
    <!-- 답변 개수 출력 -->
    <h5 th:text="|${question.answerList.size()}개의 답변이 있습니다.|"></h5>
    <!-- 답변 목록 출력 -->
    <div>
        <ul>
            <!-- 해당 question 내 answerList에 있는 answer들을 각각 불러와서 answer 내 content 목록으로 출력 -->
            <li th:each="answer : ${question.answerList}" th:text="${answer.content}"></li>
        </ul>
    </div>
    <!-- 답변 등록 버튼 -->
    <form th:action="@{|/answer/create/${question.id}|}" method="post">
        <!-- /answer/create/# URL에 content가 전달됨 -->
        <textarea name="content" id="content" rows="15"></textarea>
        <input type="submit" value="답변 등록">
    </form>
</body>
</html>